 <div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <div class="panel">
        <h1>New meem</h1>

        <%= render 'form' %>

        <%= link_to 'Back', meems_path %>
        </div>
    </div>
        <%= render "shared/toolbox" %>
</div>