<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1>
        <%# link_to "زیرپیرنی", root_path %>
        <%= link_to root_path do %>
            <div class="topLogo"></div>
        <% end -%>
    </h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li>
        <%= link_to "میمولوژی", home_meme_info_path %>
      </li>
      <li class="divider"></li>
    </ul>

  </section>
</nav>