<div class="large-4 pull-8 columns">
    <div class="panel">
        <ul class="rules">
            <li>زيرپيرنى فقط براى خنده است.</li>
            <li>پست شما نبايد چشم يا دل كسى را بيازارد.</li>
            <li>اگر پستت خنده دار باشه در صفخه ى اصلى جاى مى گيرد، اگر بى مزه باشه تروول با زيرپيرنى مياد تو خوابت.</li>
            <li>چيزى رو ده بار پست نكنيد.</li>
            <li>زيرپيرنى فقط براى خنده است.</li>
        </ul>
    </div>
</div>