<div class="large-4 pull-8 columns">
    <div class="panel" style="color:#999">
            <span>زيرپيرنى فقط براى خنده است.</span>
            <hr>
            <span>پست شما نبايد چشم يا دل كسى را بيازارد.</span>
            <hr>
            <span>اگر پستت خنده دار باشه در صفخه ى اصلى جاى مى گيرد، اگر بى مزه باشه تروول با زيرپيرنى مياد تو خوابت.</span>
            <hr>
            <span>چيزى رو ده بار پست نكنيد.</span>
            <hr>
            <span>زيرپيرنى فقط براى خنده است.</span>
        </ul>
    </div>
</div>