<div class="large-4 pull-8 columns">
    <div class="panel">
        <h1>Home#index</h1>
        <p>Find me in app/views/home/index.html.erb</p>
        <h1>Home#index</h1>
        <p>Find me in app/views/home/index.html.erb</p>
    </div>
</div>