<div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <div class="panel">
            <% @memes.each do |meme| %>
                <%= render "shared/meme", meme: meme %>
            <% end -%>
        </div>
    </div>
        <%= render "shared/toolbox" %>
</div>