<div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <div class="panel">
            <div class="meme">
                 <div class="large-4 columns">
                    <%= image_tag "trollface.jpg" %>
                </div>
                <div class="large-8 columns">
                    <h2>Trollface</h2>
                    <p>Trollface is a black and white drawing of a face with a large mischievous grin that is meant to portray the expression someone makes while trolling. Posting a Trollface image into a forum thread is often used to claim that someone was being fooled or intentionally angered. The face commonly appears in rage comics indicating that the character is being mischievous in some way.</p>
                </div>
            </div>
<hr>
            <div class="meme">
                 <div class="large-4 columns">
                    <%= image_tag "trollface.jpg" %>
                </div>
                <div class="large-8 columns">
                    <h2>Trollface</h2>
                    <p>Trollface is a black and white drawing of a face with a large mischievous grin that is meant to portray the expression someone makes while trolling. Posting a Trollface image into a forum thread is often used to claim that someone was being fooled or intentionally angered. The face commonly appears in rage comics indicating that the character is being mischievous in some way.</p>
                </div>
            </div>

        </div>
    </div>
        <%= render "shared/ad_box" %>
</div>