<div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <%= render @post %>
<hr>
        <%= render "shared/comment_section" %>
    </div>
        <%= render "shared/sidebar" %>
</div>