<div class="row MarginTop">
    <div class="large-8 push-4 columns">
        <div class="panel">
             <%= render @post %>
    <hr>
            <%= render "shared/comment_section" %>
        </div>
    </div>
            <%= render "shared/sidebar" %>
</div>