@import "bourbon";
@import "foundation";
@import "foundation_and_overrides";


@include font-face(dastnevis, '/fonts/dastnevis', $asset-pipeline: true);
@include font-face(terafik, '/fonts/terafik', $asset-pipeline: true);
@include font-face(terafikb, '/fonts/terafikb', $asset-pipeline: true);

// variables

$Black: #1a1a1a;
$blackDivider: #2b2b2b;
$white:#f8f8f8;

// variables - End


// Mixixns

@mixin social_button {
    background: #0962B2 url("social.png") no-repeat;
    background-size: 60px 180px;
    color: white;
    height: 35px;
    line-height: 2em;
    text-align: center;
    @include transition (all 0.2s ease-in);
    &:hover {
        background-position: right -60px;
        background-color: $Black;
    }
}


// Mixixns - End


// shared styles

body {
background: #ddd;
font-family: 'dastnevis';
}

h2, h1 {
font-family: 'dastnevis';

}


.postHeader h3 {
font-family: 'terafikb';
font-weight: normal;
}

.dateInfo  {
    font-family: $helvetica;
}

.meme p {
    font-family: 'terafik';
}


.clearfix {
    @include clearfix;
}

.no-padding-right {
    padding-right:0 !important;
}

.MarginTop {
    margin-top: 40px !important;
}

.right { float: right; } .left { float: left; }

.touch {
    .fb_button, .tw_button {
        font-size:0.8em;
    }
    .topLogo {
        float: right;
    }
    .top-bar .toggle-topbar.menu-icon a span { left:-25px !important;}
    .top-bar .toggle-topbar.menu-icon {direction: ltr; left:0 !important;}
}

.fb_button {
    @include social_button;
    background-position: 0 -60px;
}

.tw_button {
    @include social_button;
    background-color: #00D4F7;
    background-position: 0 0px;
    &:hover {
        background-position: right 0;
    }
}

.panel {
    background: $white !important;
    border: #d8d8d8 1px solid;
    @include clearfix;
    @include box-shadow(0px 0px 1px 1px #d8d8d8);
}

// shared styles - End

// li.name {
//     a {
//         padding: 0 !important;

//     }
// }

.fb-comments, .fb-comments iframe[style] { width: 100% !important;}
.fb-comments, .fb-comments span[style] { width: 100% !important;}

.button-group {
    margin-right:0 !important;
    a {
        margin-bottom:0 !important;
    }
    .active {
        background-color: $white !important;
    }

}

.dateInfo {
    font-size:0.7em;
    direction: ltr;
}

.DeletePost {
    color: #D14;
    &:hover {
        color:#D14;
        text-decoration: underline;
    }
}

.meme {
    margin-bottom: 20px;
    @include clearfix;
}


.topLogo {
    background: url('logo-top.png') no-repeat;
    @include background-size(48px, 45px);
    width: 48px;
    height: 45px;
    &:hover {
        background: url('logo-top-hover.png') no-repeat;
        @include background-size(149px, 45px);
        width: 149px;
        height: 45px;
    }
}

.postHeader {
    @include border-top-radius(5px);
    @include clearfix;
    background-color: $Black;
    h3 {
        color: $white;
        margin-bottom: 5px;
    }
}

.postFooter {
    padding:10px;
    @include border-bottom-radius(5px);
    background:$Black;
    span {
        color: $white;
    }

}


div.likeContainer {
    // background: $white;
    width: 100%;
    padding: 5px;
    a {
        div.like {
            background: url('like.png') no-repeat;
            @include background-size(50px, 150px);
            height: 50px;
            width: 50px;
            background-position: 0px -50px;
            margin: 0 auto;
            &:hover {
                background-position: 0px -100px;
            }

        }
        .active {
            background-position: 0px 0px !important;
        }
    }
}

nav {
    z-index: 100;
}

.toolbar {
    width: 100%;
    border: #c8c8c8 1px solid;
    background: $white;
    padding: 5px;
    @include clearfix;
    text-align: center;
}

.name {
    text-align: left;
    border-bottom: none;
    border-top: none;
    border-left: solid 1px $blackDivider;
    border-right: solid 1px $blackDivider;
    a {
        width:100% !important;
        text-align: right;
    }
}

.blackbgmenu {
    background: $Black;
    width: 100%;
    height: 45px;
}