<div class="row MarginTop" style="direction:ltr; text-align:left;">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <!-- <%= content_tag :div, msg, :class => "twelve columns alert-box #{name}" %> -->
        <div class="twelve columns alert-box <%= name %>">
            <%= msg %>
            <a href="" class="close">&times;</a>
        </div>
      <% end %>
    <% end %>
</div>